@page "/"

<PageTitle>EcoMonitor</PageTitle>

<div class="eco-home">
    <section class="eco-header">
        <h1>🌎 EcoMonitor</h1>
        <p>Transformando pequenas acoes em grande impacto ambiental.</p>
    </section>

    <section class="eco-grid">
        <EcoStatus TituloAcao="Reciclagem de Plastico" PesoAcao="1" />
        <EcoStatus TituloAcao="Descarte de Eletronicos" PesoAcao="5" />
        <EcoStatus TituloAcao="Plantio de Arvores" PesoAcao="10" />
    </section>
</div>
